{% extends 'base.html' %}
{% load static %}
{% block 'scripts' %}
    <link rel="stylesheet" href="{% static 'css/styles.css'%}"/>
{% endblock 'scripts' %}

{% block 'title'%}
    Add New Pet
{% endblock %}

{% block 'body' %}
<div class="form-container">
    <div class="form">
        <form action = {% url 'add_new_pet' %} method = "post">
            {% csrf_token %}
            <table>
            {{ petform.as_table }}
            </table>
            <input type="submit" value="Add Pet">
        </form>
        <h2>
            {{ note }}
        </h2>
    </div>
</div>
{% endblock %}