{% extends 'base.html' %}
{% load static %}
{% block 'scripts' %}
    <link rel="stylesheet" href="{% static 'css/styles.css'%}"/>
{% endblock 'scripts' %}

{% block 'title'%}
    Edit Pet
{% endblock %}

{% block 'body' %}
<div class="form-container">
    <div class="form">
        <form action = {% url 'edit_pet' pet_id %} method = "post">
            {% csrf_token %}
            <table>
            {{ filled_form.as_table }}
            </table>
            <input type="submit" value="Edit Information">
        </form>
        <h2>
            {{ note }}
        </h2>
    </div>
</div>
{% endblock %}