{% extends 'base.html'%}
{% load static %}
{% block 'scripts'%}
    <link rel="stylesheet" href="{% static 'css/styles.css'%}"/>
{% endblock %}
{% block 'body' %}
    <div class="pet-detail-container">
        <div class="petname petdetail">
            <h2>
                {{ pet.name }}  
            </h2>
            Submitter: {{ pet.submitter }} </br>
            Species: {{ pet.species }} </br>
            Breed: {{ pet.breed }} </br>
            Description: {{ pet.description }} </br>
            Sex: {{ pet.sex }} </br>
            Submission Date: {{ pet.submission_date }} </br>
            Age: {{ pet.age }} </br>
            Vaccination: {% if pet.vaccination %}
            {% for vaccination in pet.vaccination.all %}
                {{ vaccination }}
            {% endfor %}
            {% endif %}
            </br>
            <a href="{% url 'edit_pet' pet.id %}"> Edit Information </a>
        </div>
    </div>
{% endblock %}